@page
@model IndexModel
@{
    ViewData["Title"] = "Showcase Hirsch";
}

<div class="text-center">
    <h1 class="display-4">Showcase</h1>
    <p class="lead">Skalierbare Web-App von Joshua Hirsch & Justin Faust.</p>
    <p>Live Traffic: <strong>@Model.ActiveUsers</strong> users</p>
</div>
